@import url(https://fonts.googleapis.com/css?family=Roboto:300);
/* Para incluir essa folha de estilo, utilize: <link rel="stylesheet" href="{% static 'account.css' %}"> Não se esqueça de incluir a tag {% load static %} */
/* Ajuda de formulário */
html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(45deg, #5f2c82, #49a09d);
	font-family: sans-serif;
	font-weight: 100;
}
.card {
  margin-bottom: 20px;
  border: none
}

.box {
  width: 500px;
  padding: 40px;
  position: relative;
  top: 50%;
  left: 30%;
  background: #fffafa36;
  ;
  text-align: center;
  transition: 0.25s;
  margin-top: 100px;
  border-radius: 5px;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #49a09d;
  padding: 10px 10px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 300px;
  border-color: #5f2c82
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #5f2c82;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer
}

.box input[type="submit"]:hover {
  background: #5f2c82
}

.forgot {
  text-decoration: underline
}

