/* Para incluir essa folha de estilo, utilize: <link rel="stylesheet" href="{% static 'admin.css' %}"> Não se esqueça de incluir a tag {% load static %} */
/* Ajuda de formulário */

html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
	width: 500px;
    position: relative;
	top: 80%;
    margin-top: 40px;
    left: 32%;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
	border-radius: 5px;
}

td input {
    border: 0;
    background: none;
    display: block;
    text-align: center;
    border: 2px solid #49a09d;
    padding: 10px 20px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
  }

th {
	text-align: center;
}


h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.5em;
  position: relative;
  top: 5%;
  left: 32%;
}

.card input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #5f2c82;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer
}

button {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #5f2c82;
	padding: 14px 35px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer
  }

.card input[type="submit"]:hover {
  background: #5f2c82
}

button:hover {
	background: #5f2c82
}

table [type="admin"]  {
	width: 800px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
